@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Luxurious+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --m: rgb(161, 0, 0);
    --g: rgb(255, 187, 0);
    --w: rgb(255, 255, 255);
    --s: 0px 4px rgba(0, 0, 0, 0.30);
    --b: rgb(82, 82, 82);
}


html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden; /* kunci scroll saat awal */
    scroll-behavior: smooth; /* biar pas scroll otomatis smooth */
    font-family: "Poppins", sans-serif;
    background: rgb(219, 219, 219);
}

body.unlocked {
    overflow: auto;
}


.container {
    position: relative;
          /* default: full */
    height: 100%;
    max-width: 567px;     /* batas maksimal */
    margin: 0 auto;       /* biar selalu center */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;    /* setinggi layar */
    box-shadow: 0 1px 10px 3px rgba(0,0,0,0.2); /* biar kayak frame hp */
    background-color: var(--m);
}

.zoom-fade {
    opacity: 0;                 /* mulai transparan */
    transform: scale(0.8);      /* mulai kecil */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.zoom-fade.show {
    opacity: 1;
    transform: scale(1);        /* ukuran normal */
    transition-delay: 0.6s;
}


.fade-in {
    opacity: 0;                   /* mulai transparan */
    transform: translateY(20px) rotate(-10deg) scale(0.9); /* posisi awal */
    transition: 
        opacity 0.8s ease-out, 
        transform 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0) rotate(0deg) scale(1); /* posisi akhir */
    transition-delay: 0.5s;
}


/* Style dasar hiasan */
.hiasan {
    position: absolute;
    width: 150px;   /* ukuran hiasan */
    height: auto;
    z-index: 10;
    filter: hue-rotate(5deg) saturate(50%);
}

.hal2 .hiasan {
    position: absolute;
    width: 150px;   /* ukuran hiasan */
    height: auto;
    z-index: 10;
    filter: hue-rotate(5deg) saturate(50%);
}

/* Atas kiri */
.hiasan.atas-kiri {
    top: -80px;
    left: -5px;
    transform: scaleY(-1) rotate(140deg);
    animation: naturalMovekiriAtas 5s ease-in-out infinite;
}
/* Animasi goyang pelan */
@keyframes naturalMovekiriAtas {
    0%   { transform: scaleY(-1) rotate(140deg); }
    50%  { transform: scaleY(-1) rotate(145deg); }
    100% { transform: scaleY(-1) rotate(140deg); }
}


/* Atas kanan */
.hiasan.atas-kanan {
    top: -80px;
    right: -5px;
    transform: scaleX(-1) scaleY(-1) rotate(140deg);
    animation: naturalMovekananAtas 5s ease-in-out infinite;
}
/* Animasi goyang pelan */
@keyframes naturalMovekananAtas {
    0%   { transform: scaleX(-1) scaleY(-1) rotate(140deg); }
    50%  { transform: scaleX(-1) scaleY(-1) rotate(145deg); }
    100% { transform: scaleX(-1) scaleY(-1) rotate(140deg);; }
}

/* Bawah kiri */
.hiasan.bawah-kiri {
    bottom: -30px;
    left: -20px;
    transform: scaleY(-1) rotate(-140deg);
    animation: naturalMovekiriBawah 5s ease-in-out infinite;
}
/* Animasi goyang pelan */
@keyframes naturalMovekiriBawah {
    0%   { transform: scaleY(-1) rotate(-140deg); }
    50%  { transform: scaleY(-1) rotate(-145deg); }
    100% { transform: scaleY(-1) rotate(-140deg); }
}

/* Bawah kanan */
.hiasan.bawah-kanan {
    bottom: -30px;
    right: -20px;
    transform: scaleX(-1) scaleY(-1) rotate(-140deg);
    animation: naturalMovekananBawah 5s ease-in-out infinite;
}
/* Animasi goyang pelan */
@keyframes naturalMovekananBawah {
    0%   { transform: scaleX(-1) scaleY(-1) rotate(-140deg); }
    50%  { transform: scaleX(-1) scaleY(-1) rotate(-145deg); }
    100% { transform: scaleX(-1) scaleY(-1) rotate(-140deg); }
}

.hal1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url('assets/ft2.jpg') no-repeat center/cover;     /* contoh background */
    background-position: 40%;
    margin: 0 auto;
    padding: 10% 10%;
    color: var(--w);
    overflow: hidden ;
    z-index: 1;
}

.hal1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* gradient dari hitam transparan ke terang */
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255) 10%,     /* gelap di atas */
        rgba(255, 255, 255, 0) 40%,      /* hilang di tengah */
        rgba(255, 255, 255, 0) 60%,      /* tetap terang di tengah */
        rgb(255, 255, 255) 80%    /* gelap lagi di bawah */
    );

    pointer-events: none; /* biar gak ganggu klik */
    z-index: 0;
}

.hal1 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    z-index: 3;
}

.hal1 .title span {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.hal1 .title span p {
    font-family: "Tangerine", cursive;
    color: var(--m);
    font-size: 4rem;
    text-shadow: 0px 10px rgba(0, 0, 0, 0.30);
}

.hal1 .title h4 {
    font-weight: 500;
    color: var(--b);
    text-shadow: none;
    text-shadow: 0px 3px 1px rgb(0, 0, 0, 0.2);
}

.hal1 .title h1 {
    font-size: 8rem;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    color: var(--m);
    text-shadow: 0px 10px rgb(0, 0, 0, 0.30);
}

.hal1 .nama-tamu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    margin-top: auto;
    margin-bottom: 2rem;
}

.hal1 .nama-tamu h3 {
    font-size: .85rem;
    color: var(--b);
    margin-top: .50rem;
    margin-bottom: .40rem;
}

.hal1 .nama-tamu p {
    font-size: 2rem;
    margin-top: .10rem;
    margin-bottom: .40rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--b);
}

.btn-shine {
    position: relative;
    display: flex;
    padding: 9px 25px;
    margin-bottom: 3rem;
    font-size: 13px;
    font-weight: 700;
    background: var(--m);
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    overflow: hidden;
    transition: all 0.3s ease; /* biar animasi halus */
}

/* Efek geser saat hover */
.btn-shine:hover {
    transform: translateY(-6px); /* geser ke atas */
    box-shadow: 0 8px 15px rgba(0,0,0,0.3); /* bayangan lebih dalam */
}

/* shimmer effect */
.btn-shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: -30%;
    width: 30%;
    height: 100%;
    background: linear-gradient(120deg, transparent 0%, rgba(255, 255, 255, 0.527) 50%, transparent 100%);
    transform: skewX(-20deg);
    transition: left 0.6s ease; /* supaya smooth saat hover */
}

/* shimmer jalan kalau di-hover */
.btn-shine:hover::after {
    left: 100%;
}

.btn-shine a {
    text-decoration: none;
    color: var(--w);
    margin-left: 10px;
}

.btn-shine .icon-btn {
    width: 20px;
    height: auto;
}

.hal2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    color: var(--w);
    padding-top: 5%;
    padding-bottom: 25%;
    background: url('assets/bg1.jpg') no-repeat center/cover;     /* contoh background */
    background-position: 40%;
    overflow: hidden ;
    z-index: 1;
}

.hal2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255) 0%,     /* gelap di atas */
        rgba(255, 255, 255, 0) 40%,      /* hilang di tengah */
        rgba(255, 255, 255, 0) 60%,      /* tetap terang di tengah */
        rgb(255, 255, 255) 100%    /* gelap lagi di bawah */
    );
    pointer-events: none; /* biar gak ganggu klik */
    z-index: 2;
}

.hal2::after {
    content: "";
    position: absolute;
    top: 103vh;
    right: 30px;
    bottom: 2rem;
    left: 30px;
    border-radius: 20px;        /* biar melengkung */
    pointer-events: none;
    z-index: 2; /* di atas gradient */
}

/* gaya bunga kecil */
.flower {
    position: absolute;
    top: -50px; /* mulai dari atas */
    font-size: 20px;
    animation: fall linear forwards;
    color: var(--w);
    pointer-events: none;
    z-index: 3;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0.5;
    }
}

.foto-frame {
    position: relative;
    top: 0;
    width: 60%;
    height: 80%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    border: 4px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px 5px rgba(80, 80, 80, 0.315);
    z-index: 3;
}

.foto-frame .foto {
    position: absolute;
    width: 80%;
    height: 80%;
    border: 4px solid;
    background-position: center;
    background-size: cover;
    background-image: unset;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}


.hal2 .title2 {
    margin-top: 2rem;
    margin-bottom: auto;
    z-index: 3;
    color: var(--b);
}

.hal2 .title2 h1 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--b);
    text-shadow: 0px 4px rgb(0, 0, 0, 0.2);
}

.hal2 .title2 span h2 {
    font-size: 6rem;
    font-family: "Tangerine", cursive;
    text-shadow: 0px 6px rgb(0, 0, 0, 0.2);
    font-weight: 700;
    color: var(--m);
}

.hal2 .title2 p {
    font-size: 2rem;
    font-family: "DM Serif Text", serif;
    text-shadow: 0px 2px rgb(0, 0, 0, 0.2);
}

.hal3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    color: var(--b);
    padding: 15% 10%;
    background: url('assets/bg1.jpg') no-repeat center/cover;     /* contoh background */
    background-position: 40%;
    overflow: hidden ;
    z-index: 1;
}

.hal3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    /* gradient dari hitam transparan ke terang */
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255) 0%,     /* gelap di atas */
        rgba(255, 255, 255, 0) 40%,      /* hilang di tengah */
        rgba(255, 255, 255, 0) 60%,      /* tetap terang di tengah */
        rgb(255, 255, 255) 100%    /* gelap lagi di bawah */
    );

    pointer-events: none; /* biar gak ganggu klik */
    z-index: 2;
}

.hal3::after {
    content: "";
    position: absolute;
    top: 103vh;
    right: 30px;
    bottom: 2rem;
    left: 30px;
    border-radius: 20px;        /* biar melengkung */
    pointer-events: none;
    z-index: 2; /* di atas gradient */
}

.hal3 p {
    z-index: 3;
}