@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Luxurious+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --maroon: rgb(160, 0, 0);
    --w: rgb(255, 255, 255);
    --b: #000;
}

img {
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* biar konten di tengah */
    background: var(--w);
    color: var(--b);    /* bisa diganti warna bebas */
    overflow-x: hidden;
    font-family: "Lexend Deca", sans-serif;        /* cegah scroll horizontal */
}

body.lock-scroll {
  overflow: hidden; /* kunci scroll */
}

.container1 {
    height: 100vh;
    max-width: 600px;
    width: 600px;              /* apapun yang keluar dari container langsung ketutup */
    margin: auto;                   /* batas lebar */
    box-shadow:     
    -5px 0 15px rgba(0,0,0,0.2),  /* kiri */
    5px 0 15px rgba(0,0,0,0.2); 
    overflow: hidden;  /* opsional, biar elegan */
    background: #666666; 
}

.container2 {
    height: max-content;
    max-width: 600px;
    width: 600px;
    margin: auto;
    background-color: aqua;
}

.hal-1-un1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    padding: 20% 0;

}

.logo-hal1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo-hal1 h5 {
    color: var(--w);
    padding-bottom: 1rem;
}

.logo-hal1 h1 {
    color: var(--maroon);
    font-family: "Tangerine", cursive;
    font-size: 5rem;
}

.guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: 6rem;
    color: var(--w);
}

.guest h2 {
    padding-top: 1rem;
    font-size: 2.2rem;
}

.link1 a {
    font-size: 0.80rem;
    font-weight: 400;
    padding: 0.35rem 1rem;
    background: var(--w);
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.534);
}

.contnav {
    height: 40px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgb(0,0,0,0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.logo-nav {
    width: 100%;
    margin-right: auto;
    padding: 0 6%;
    color: var(--w);
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.logo-nav h1 {
    color: var(--maroon);
    font-family: "Tangerine", cursive;
}

.logo-nav span {
    margin-left: auto;
}

.logo-nav span i {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.logo-nav span i:active {
    color: var(--maroon);
}

.considebar {
    max-width: 576px;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    top: 0;          /* sejajar atas */
    right: 0;        /* kalau muncul dari kanan */
    width: 250px;
    height: 100%;
    background: #fff5f5;
    padding: 60px 20px 20px; /* 60px biar gak nutupin nav */
    transform: translateX(100%); /* sembunyi */
    transition: 0.3s;
}

.sidebar.active {
    transform: translateX(0); /* tampil */
}

.sidebar .nav-link {
    text-align: center;
    list-style: none;
    padding: 2rem 4rem;
}

.nav-link li a {

    text-decoration: none;
    font-size: 2rem;
}

.nav-link li a:hover {
    background: #666;
}

.sec-1 {
    display: block;
    height: 100vh;
}


.sec-2 {
    height: 100vh;
}